html, body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #282c34;
  margin: 0;
  min-height: 100vh;
  font-family: 'Quicksand', sans-serif;
}

h1 {
  margin: 4vh 0;
  padding: 0;
  color: #cbcbcb;
  font-weight: 600;
  text-align: center;
}

button {
  outline: none;
  height: 3rem;
  width: 8rem;
  font-size: 1rem;
  box-sizing: border-box;
  background-color: #5a5d63;
  color: #fff;
  font-family: 'Quicksand', sans-serif;
}

button:hover {
  cursor: pointer;
  border: 1px solid #45ddb4;
  color: #45ddb4;
  background-color: #454950;
}

.mainButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mainButtons button {
  background-color: #e3e3e3;
  color: #545454;
  margin: 20px 10px;
  width: 10rem;
  height: 4rem;
  font-size: 1.25rem;
  font-weight: 600;
}

.mainButtons button:hover {
  color: #45ddb4;
  background-color: #666;
}

.Controls {
  display: flex;
  justify-content: center;
}

.nodeInfo {
  width: 8rem;
  height: 7rem;
  line-height: 0.5rem;
  padding: 1rem;
  align-self: center;
  background-color: #d9d9d9;
}


.App {
  display: flex;
  flex-direction: column;
}

.Grid {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  background-color: #ecebeb;
}

.Row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Node {
  color: #747474;
  height: 2vw;
  width: 2vw;
  max-width: 20px;
  max-height: 20px;
  padding: 0;
  background-color: #ecebeb;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  line-height: 0.5em;
  font-size: 6px;
  overflow: visible;
}

.Node:hover {
  color: #000;
  opacity: 1;
}

.activated {
  background-color: #2eac7e;
}
.activated:hover {
  color: #45ddb4;
  background-color: #21835f;
}

/* Node Colors */
.startNode {
  background-color: #2beeb4;
}
.endNode {
  background-color: #e73434;
}
.endNodeFinished {
  background-color: #c91313 !important;
}
.discovered {
  border: none;
  animation: discoveredFade 2s forwards;
}
.currentPath {
  animation: currentPathFade 2s forwards;
}
.finalPath {
  /* animation: finalPathLoop 2s infinite alternate; */
  border: none;
  animation: finalPathFade 1s forwards;
}
.untraversable {
  background-color: #454545;
  /* transition: 0.5s; */
  /* animation: wallFade 0.8s forwards; */
}

/* @keyframes wallFade {
  from {
    background-color: #f0f0f0;
    transform: scale(0.5);
    border-radius: 8px;
  }
  to {
    background-color: #454545;
    transform: scale(1);
    border-radius: 0px;
  }
} */

@keyframes discoveredFade {
  0% {
    background-color: #ecebeb;
    transform: scale(0.3);
    border-radius: 8px;
  }
  40% {
    background-color: #c3efff;
    transform: scale(1);
    border-radius: 0px;
  }
  100% {
    background-color: #b9d8fe;
    transform: scale(1);
    border-radius: 0px;
  }
}

@keyframes currentPathFade {
  0% {
    background-color: #72dab2;
    transform: scale(0.3);
    border-radius: 8px;
  }
  40% {
    background-color: #63ebeb;
    transform: scale(1);
    border-radius: 0px;
  }
  100% {
    background-color: #62b5f9;
    transform: scale(1);
    border-radius: 0px;
  }
}

@keyframes finalPathFade {
  0% {
    background-color: #58b1f1;
  }
  25% {
    background-color: #f95ca2;
  }
  100% {
    background-color: #ffe871;
  }
}
@keyframes finalPathLoop {
  0% {
    background-color: #7982fc;
  }
  50% {
    background-color: #7982fc;
  }
  100% {
    background-color: #ffe871;
  }
}
