html, body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #282c34;
  margin: 0;
  min-height: 100vh;
}

button {
  height: 2rem;
  width: 4rem;
  margin-top: 100px;
  align-self: center;
}

.App {
  display: flex;
  flex-direction: column;
}

.Grid {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  /* background-color: #868686; */
}

.Row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Node {
  color: #747474;
  height: 20px;
  width: 20px;
  padding: 0;
  background-color: #f0f0f0;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  line-height: 0.5em;
  font-size: 6px;
  overflow: visible;
}

.Node:hover {
  color: #fff;
  opacity: 0.9;
}

.Controls button {
  outline: none;
}

.activated {
  background-color: #35a156;
}

/* Node Colors */
.startNode {
  background-color: #4ed1aa;
}
.endNode {
  background-color: #f06262;
}
.endNodeFinished {
  background-color: #c91313 !important;
}
.visited {
  background-color: #c0d0e3;
}
.currentPath {
  background-color: #78bff2;
}
.finalPath {
  background-color: #8b76f5;
}
.untraversable {
  background-color: #454545;
  /* animation: wallFade 0.5s forwards; */
}

/* @keyframes wallFade {
  from {
    background-color: #f0f0f0;
    transform: scale(0.1);
  }
  to {
    background-color: #454545;
    transform: scale(1);
  }
} */
